{% extends "base.html" %} {% block html_title %} Change Password {% endblock %}
{% block page_title %} Change Password {% endblock %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-xl-4">
      <div class="main-change_password login-form bg-light mt-4 p-4">
        <form action="/change-password" method="POST" class="row g-3">
          <div class="col-12">
            <label>Current Password</label>
            <input
              type="password"
              name="old_password"
              class="form-control"
              required
            />
          </div>
          <div class="col-12">
            <label>New Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <div class="col-12">
            <label>Confirm New Password</label>
            <input
              type="password"
              name="password2"
              class="form-control"
              required
            />
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-end">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
