{% extends "base.html" %} {% block html_title %} Dashboard {% endblock %} {%
block page_title %} Coverage Area Dashboard{% endblock %} {%block content %}

<div class="dashboard_graphs">
  <div style="width: 100%; min-height:800px;">
    <iframe
      noresize="noresize"
      style="position: absolute; background: transparent; width: 95%; height:100%;"
      src="{{
      dash_url
      }}"
      frameborder="0"
    >
    </iframe>
  </div>
  <!--  <div class="clearfix"></div> -->
</div>

{% endblock %}
