{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="login-form bg-light mt-4 p-4">
        <form action="/forgot-password" method="POST" class="row g-3">
          <h4>Forgot Password</h4>
          <div class="col-12">
            <label>E-mail Address</label>
            <input
              type="text"
              name="username"
              class="form-control"
              placeholder="E-mail Address"
              required
            />
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-dark float-end">
              Forgot Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}