{% extends "base.html" %} {% block html_title %} Password Recovery {% endblock
%} {% block attr_main %} class="main-login" {% endblock %} {% block content %}

<style>
  .main-login {
    background: url(images/splash/{{image}});
    background-size: cover;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-8">
      <div class="main-login_form login-form bg-light mt-5 p-4 rounded">
        <form action="/forgot-password" method="POST" class="row g-3">
          <div class="col-12">
            <label>E-mail Address</label>
            <input
              type="text"
              name="username"
              class="form-control"
              placeholder="E-mail Address"
              required
            />
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary float-end">
              Recover Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
