{% extends "base.html" %} {% block html_title %} Region {% endblock %} 
{% block page_title %} {% endblock %} {%block content %}


<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-5 shadow p-3 mb-2 me-4 rounded" style="height: 525px;">
      <h3>Signals in Region</h3>
      <table id="signalTable" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Region</th>
          </tr>
        </thead>
        <tbody>
          {% for signal in signalData %}
          <tr>
            <td>{{signal.id}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready( function () {
    $('#signalTable').DataTable({ 
      scrollY: '225px',
      scrollCollapse: true
      });
  });
</script>
{% endblock %}
