<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('auth.dashboard') }}">
      <img
        src="/images/primaryfullcolor-3x.png"
        alt="Traffic Technology
      Services"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav justify-content-end w-100">
        {% if current_user.is_authenticated %}
        <!--
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.dashboard')}}"
            >Dashboard</a
          >
        </li> -->
        {% if current_user.is_admin() %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.users')}}"
            >Manage Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.coverages')}}"
            >Coverages</a
          >
        </li>
        {% endif %}
        <li class="nav-item me-auto"><!-- L/R spacer --></li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.my_account')}}"
            >My Account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout')}}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
